<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- permite comandos resposivos-->
  <title>{{ponto.name}}</title>

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin="" />

  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>

  <link rel="icon" href="/images/logo-rede-icon.png" />
  <!--Logo topo do site-->

  <link rel="stylesheet" href="/css/main.css" />
  <link rel="stylesheet" href="/css/animations.css" />
  <link rel="stylesheet" href="/css/sidebar.css" />
  <link rel="stylesheet" href="/css/map.css" />
  <link rel="stylesheet" href="/css/buttons.css" />
  <link rel="stylesheet" href="/css/page-ponto.css" />

  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap" rel="stylesheet" />
</head>

<body>
  <div id="page-ponto">
    <aside class="animate-right sidebar">
      <img src="/images/map-marker.svg" alt="Happy" />

      <footer>
        <button onclick="history.back()">
          <img src="/images/arrow-back.svg" alt="Voltar" />
        </button>
      </footer>
    </aside>

    <main class="animate-appear with-sidebar">
      <div class="ponto-details">
        <img src="{{ponto.firstImage}}" alt="{{ponto.name}}" />

        <div class="images">
          {{#each ponto.images}}
          <button onclick="selectImage(event)" class="active" type="button">
            <img src="{{this}}" alt="{{ponto.name}}" />
            {{!-- https://source.unsplash.com/random?id=1 --}}
          </button>
          {{/each}}
        </div>

        <div class="ponto-details-content">
          <h1>{{ponto.name}}</h1>

          <p>{{ponto.description}}</p>

          <div class="map-container">
            <div id="mapid"></div>
            <span data-lat="{{ponto.lat}}" data-lng="{{ponto.lng}}"> </span>

            <footer>
              <a target="_blank" href="https://maps.google.com/mobile?q={{ponto.lat}},{{ponto.lng}}&z=15"> Ver rotas no
                Google Maps </a>
            </footer>
          </div>

          <hr />

          <h2>Instruções para visita</h2>

          <p>{{ponto.instructions}}</p>

          <div class="open-details">
            <div class="hour">
              <img src="/images/clock.svg" alt="Horarios" />
              {{ponto.opening_hours}}
            </div>

            <!-- executa sempre que é verdadeiro -->
            {{#if ponto.open_on_weekends}}
            <div class="open-on-weekends open">
              <img src="/images/info.svg" alt="Informações" />
              Atendemos aos finais de semana.
              {{else}}
              <div class="open-on-weekends closed">
                <img src="/images/info-red.svg" alt="Informações" />
                Não atendemos aos finais de semana.
                {{/if}}
              </div>
            </div>
            {{!-- para entrar em contato via whatsapp automaticamente --}}
            <a href="https://api.whatsapp.com/send?l=pt_BR&phone={{ponto.contato}}&text=Oi, quero conversar sobre doações no {{ponto.name}}" target="_blank" " class="
              primary-button" type="button">
              <img src="/images/whatsapp.svg" alt="Chamar no whatsapp" />
              Entrar em contato
            </a>
          </div>
        </div>
    </main>
  </div>

  <script src="/scripts/page-ponto.js"></script>
</body>

</html>